<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome to third html web page</h1>
        <a href="{% url 'b2' %}">go to fourth html web page</a><br>
        <a href="{% url 'a1' %}">go to first html web page</a><br>
        <a href="{% url 'a2' %}">go to second html web page</a>
        
    </center>
</body>
</html>